<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
        }
    
        h1 {
            text-align: center;
            padding: 20px;
            background-color: #db3838;
            color: #fff;
            margin: 0;
        }
    
        .nav-container {
            text-align: center;
            background-color: #2c3e50;
            padding: 10px;
        }
    
        .nav-link {
            text-decoration: none;
            color: #fff;
            margin: 0 10px;
        }
    
        form {
            width: 50%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        label {
            display: block;
            margin-bottom: 10px;
        }
    
        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
    
        button {
            background-color: #db3838;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        button:hover {
            background-color: #2980b9;
        }
    </style>
    
</head>

<body>
    <h1>Edit Product</h1>

    <div class="nav-container">
        <a href="/products" class="nav-link">Product List</a>
        <a href="/products/add" class="nav-link">Add Product</a>
    </div>

    <form action="/products/update/<%= product.product_id %>" method="post">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" value="<%= product.name %>" required>

        <label for="description">Product Description:</label>
        <textarea id="description" name="description"><%= product.description %></textarea>

        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="<%= product.price %>" required>

        <label for="stock_quantity">Stock Quantity:</label>
        <input type="text" id="stock_quantity" name="stock_quantity" value="<%= product.stock_quantity %>" required>

        <button type="submit">Update Product</button>
    </form>
</body>

</html>
