<!-- ordersList.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders List</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        button.back-button {
            background-color: #db3838;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 auto;
            margin-top: 80px;
        }
    
        h1 {
            text-align: center;
            padding: 20px;
            background-color: #db3838;
            color: #fff;
            margin: 0;
            width: 100%;
        }
    
        h2 {
            color: #db3838;
            margin-top: 20px;
        }
    
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
    
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    
        th {
            background-color: #db3838;
            color: #fff;
        }
    
        tr:hover {
            background-color: #f0f0f0;
        }
    
        a {
            text-decoration: none;
            color: #db3838;
            margin-right: 10px;
            cursor: pointer;
        }
    
        a:hover {
            text-decoration: underline;
        }
    </style>
    
    
    
</head>

<body>

    <h1>Orders List</h1>

    <% customers.forEach(customer => { %>
        <% if (customer.orders.length > 0) { %>
            <h2><%= customer.first_name + ' ' + customer.last_name %></h2>

            <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% customer.orders.forEach(order => { %>
                        <tr>
                            <td><%= order.order_id %></td>
                            <td><%= order.order_date %></td>
                            <td><%= order.total_amount %></td>
                            <td><%= order.status %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
    <% }); %>

    <button class="back-button" onclick="location.href='/'">Back to Homepage</button>

</body>

</html>